<header>
    <nav>   
        <a href="/author_index"></a>
        <ul>
           <li>  <a href="/author_my_books">My books</a> </li> 
           <li> <a href="/author_index/author_create_newbook">Add new book</a></li>
            <li> <a href="author_update_personal_details"> Update Personal Details</a></li>
        </ul>
    </nav>

</header>