<main>
<div class="signupContainer">

    <div class="columnAuthorSignup">
            <h1>Author Signup Here</h1>
            <form action="/author_signup" method="POST" class="author-signup-form" id="author-signup-form">

            <div class="authorSignUpLabels"> 

                      <label for="name">Name </label>
                          <input  type="text" name="name" id="author_name" placeholder="Enter Name"  required />
                     
                    
                

                  <label for="username">
                    Username
                    <input type="text" name="username" id="author_username" placeholder="Select a username"  required />
                  </label>

                


                  <label for="password">
                    Password
                    <input type="password" name="password" id="password" placeholder="Enter The Passsword"  required/>
                  </label>
             </div>
              <br><button type="submit">Submit</button>
              <br><button type="reset">Clear</button>
            </form>
          <footer>
            <nav>
                  <ul>
                      <li><a href="/author_login">Already have an account? Click here to log-in</a></li>
                  </ul>
          </nav>
          </footer>
          {{#if notString}}
          <p class="error">Either ussername/password not in correct format. Username should be atleast 4 characters and password should be atleast 6 characters both without any spaces.</p>
          {{/if}}
          {{#if unError}}
          <p class="error">Username should be atleast 4 characters without any spaces.</p>
          {{/if}}
          {{#if pwError}}
          <p class="error">Password should be atleast 6 characters without any spaces.</p>
          {{/if}}
          {{#if isEmptyUn}}
          <p class="error">Enter username.</p>
          {{/if}}
          {{#if isEmptyPw}}
          <p class="error">Enter password.</p>
          {{/if}}
    </div>
</div>
</main>