<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/css/site.css">
    <title>{{titleName}}</title>
</head>
<body>
        {{{body}}}
</body>
</html>