* {
	box-sizing: border-box;
}



.h1Forlanding{
    text-align:center;
    color: white;
    font-weight: bolder;
}

.introductionP{
    color: white;
   text-align: center;
    text-align-last: center;
}
.landingContainer{
  background-image:url('../images/shutterstock_509582812-e1574100998595-scaled.jpeg') ;
  background-size: 100% 100%;
   height: 100vh;
  text-align: center;
  justify-content: center;
}

.all_urls ul {
display: inline-block;
text-align: left;
font-size: larger;
font-weight: bolder;
}

/* .loginContainer{
    background-image:url('../images/shutterstock_509582812-e1574100998595-scaled.jpeg') ;
    background-size: 100% 100%;
     height: 100vh;
    text-align: center;
    justify-content: center;
} */

.loginContainer{
    background-image:url('../images/shutterstock_509582812-e1574100998595-scaled.jpeg') ;
    background-size: 100% 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.columnAuthorLogin{
   align-items: center;
   text-align: center;
   background-color:wheat;
   opacity:0.9;
   width: 450px;
   box-shadow: rgba(0,0,0, 0.5) 0 50px 50px;
   padding: 15px 15px;
  
}
.columnAuthorLogin form{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
 }
.columnAuthorLogin form input[type="text"],
.columnAuthorLogin form input[type="password"]{
   text-align:center;
   font-size: 20px;
   margin: 10px ;
   border: none;
   margin-left: auto;
   margin-right: auto;
   border-radius: 5px;
   height: 40px;
   width: 350px;
   opacity: 0.99;
   font-weight: 400;
 
}

.authorLoginLabels label{
    color:black;
    font-weight: bolder;
}

.columnAuthorLogin a{
    font-weight: bolder;
    color: black;
}

.columnAuthorLogin button{
    background-color: brown;
    font-weight: bolder;
    font-size: larger;
    color: whitesmoke;

}

.errors{
    color: red;
}

 /*signup */

.signupContainer{
    background-image:url('../images/shutterstock_509582812-e1574100998595-scaled.jpeg') ;
    background-size: 100% 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.columnAuthorSignup form{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
 }




.columnAuthorSignup{
    text-align: center;
    align-items: center;
    background-color:wheat;
    opacity:0.9;
    width: 450px;
    box-shadow: rgba(0,0,0, 0.5) 0 50px 50px;
    padding: 15px 15px;
    
 }
 
 .columnAuthorSignup form input[type="text"],
 .columnAuthorSignup form input[type="password"]{
    text-align:center;
    font-size: 20px;
    margin: 10px ;
    border: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    height: 40px;
    width: 350px;
    opacity: 0.99;
    font-weight: 400;
  
 }
 
 .authorSignUpLabels label{
     color:black;
     font-weight: bolder;
 }
 
 .columnAuthorSignup a{
     font-weight: bolder;
     color: black;
 }
 
 .columnAuthorSignup button{
     background-color: brown;
     font-weight: bolder;
     font-size: larger;
     color: whitesmoke;
 
 }


 /*-------------author_index______*/

 

 * {
    margin: 0;
    padding: 0;
  }
  
  .top-bar {
    background: #333;
    color: #fff;
    padding: 1rem;
  }
  
  .btn {
    background: coral;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.7rem 2rem;
  }
  
  .btn:hover {
    opacity: 0.9;
  }
  
  .page-info {
    margin-left: 1rem;
  }
  
  .error {
    background: orangered;
    color: #fff;
    padding: 1rem;
  }



  body,
.signin {
    background-image:url('/public/images/Temp_image.jpg');
    background-size: 100% 100%; 
    font-family: 'Montserrat', sans-serif;
    /* color: #fff; */
    font-size: 14px;
    letter-spacing: 1px;
}

.login-form {
    position: relative;
    /* height: 560px; */
    height: 520px;
    width: 405px;
    margin: auto;
    padding: 60px 60px;
    background:    center center #838482;
    background-size: cover;
    box-shadow: 0px 30px 60px -5px rgb(41, 40, 40);
}
/*form{
    padding-top: 80px;
    padding-top: 20px; 
}*/

.active {
    border-bottom: 2px solid #1161ed;
}

.nonactive {
    color: rgba(255, 255, 255, 0.2);
}

h2 {
    padding-left: 12px;
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 100;
}

h2:first-child {
    padding-left: 0px;
}

span {
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0.4;
    display: inline-block;
    position: relative;
    top: -65px;
    transition: all 0.5s ease-in-out;
}

.full-width-input {
    border: none;
    width: 89%;
    padding: 10px 20px;
    display: block;
    height: 15px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(245, 245, 245, 0);
    overflow: hidden;
    margin-top: 15px;
    transition: all 0.5s ease-in-out;
}

.text:focus {
    outline: 0;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    background: rgba(0, 0, 0, 0);
}

.text:focus + span {
    opacity: 0.6;
}

input[type="text"],
input[type="password"] {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}



input {
    display: inline-block;
    padding-top: 20px;
    font-size: 14px;
}

h2,
span,
.custom-checkbox {
    margin-left: 20px;
}

.custom-checkbox {
    -webkit-appearance: none;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 8px;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    top: 6px;
}

.custom-checkbox:checked {
    background-color: rgba(17, 97, 237, 1);
}

.custom-checkbox:checked:after {
    content: '\2714';
    font-size: 10px;
    position: absolute;
    top: 1px;
    left: 4px;
    color: #fff;
}

.custom-checkbox:focus {
    outline: none;
}

label {
    display: inline-block;
    padding-top: 10px;
    padding-left: 5px;
}

.signin {
    background-color: #1161ed;
    color: #FFF;
    width: 100%;
    padding: 10px 20px;
    display: block;
    height: 39px;
    border-radius: 20px;
    margin-top: 30px;
    transition: all 0.5s ease-in-out;
    border: none;
    text-transform: uppercase;
}

.signin:hover {
    background: #4082f5;
    box-shadow: 0px 4px 35px -5px #4082f5;
    cursor: pointer;
}

.signin:focus {
    outline: none;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    /* top: 85px; */
    top: 47px;
    position: relative;
}

a {
    text-align: center;
    display: block;
    top: 120px;
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.2);
}

.heading{
    display: flex;
}