

<div class="loginContainer">
      <div class="columnAuthorLogin">
         <a href="/">Go Back To Main Menu</a>
         <h1>Author Login</h1>
         <form action="/author_login" method="POST" class="loginForm" id="loginForm">

         <div class="authorLoginLabels">
         <label for="username">Username</label>
         <input type="text" name="username" placeholder="Enter a User Name" id="author_username" required>
      
            <label for="password">Password</label> 
            <input type="password" name="password" placeholder="Enter The Password" id="author_password" required>
         </div>

         <button type="submit">LOGIN</button>
         

         {{#if hasErrors}}
               <div class="error" id="error1"> {{errors}}.</div>
         {{/if}}
         <footer>
            <a href="/author_signup">Need to register as an Author? Click here to sign-up</a>
            <div class="error" id="error" hidden></div>
         </footer>
         
         </form>
   <script src="/public/js/author_login.js"></script>

      </div>
         
</div>
