<main>

  <header>
    <nav>   
        <a href="/author_index"></a>
        <ul>
           <li>  <a href="/author_index">My books</a> </li> 
           <li> <a href="/author_index/author_upload">Add new book</a></li>
            <li> <a href="/author_index/author_update_personal_details"> Update Personal Details</a></li>
              <a href="/author_logout">Logout</a>
        </ul>
    </nav>

</header>

    <h1 class="text-center display-4 my-4">Book Upload Page</h1>
        <form action="/author_index/author_upload" method="POST" enctype="multipart/form-data">
          <div class="custom-file mb-3">
            <label for="bookname">
            Name Of The Book<input type="text" name="bookname" id="bookname">
            </label>
            <br>
            <br>
            <br>
            <label for="price">
            Price<input type="number" name="price" id="price">
            </label>
            <br>
            <br>
            <br>
            <label for="description">
            Description<textarea type="text" rows="3" cols="50" name="description" id="description"></textarea>
            </label>
            <br>
            <br>
            <br>
            <label for="category">
            Category<input type="text" name="category" id="category">
            </label>
            <br>
            <br>
            <br>
            <label for="file" class="custom-file-label">Choose A Book</label>
            <input type="file" name="file" id="file" accept="application/pdf" class="custom-file-input">
            
          </div>
          <input type="submit" value="Submit" class="btn btn-primary btn-block">
        </form>
</main>