
<main>


<p>This is author_update_personal_details page</p>

<header>
    <nav>   
        <a href="/author_index"></a>
        <ul>
           <li>  <a href="/author_index">My books</a> </li> 
           <li> <a href="/author_index/author_create_newbook">Add new book</a></li>
            <li> <a href="/author_index/author_update_personal_details"> Update Personal Details</a></li>
             <a href="/author_logout">Logout</a>
        </ul>
    </nav>

</header>
<h4>This Is Current Name</h4>
<p>{{authorsDetails.authorName}}</p>

<br>
<br>
<br>

<h3>
    Update Details Here
</h3>
<form action="/author_index/author_update_personal_details" method="POST" class="author_update_personal_details">

         <div class="author_update_personal_details">

         <label for="authorName">Enter New name </label>
         <input type="text" name="authorName" placeholder="{{authorsDetails.authorName}}" id="author_name">
     
            <label for="password">Password</label> 
            <input type="password" name="password" placeholder="Should be grater than 4 characters" id="author_password">
         </div>

         <button type="submit">Change</button>

         {{#if hasErrors}}
               <p class="errors"> {{errors}}.</p>
         {{/if}}
        
         </form>
</main>