<main>
    <div class="upperIndex">
        <h1 class="titleIndex" id="aip"> This is Author index page</h1>
        <h2>Hi {{username}}</h2>
    </div>
    <header class="aiheader">
        <a href="/author_index"></a>
        <div class="wholeIndex">
            <div class="boxIndex">
                <nav class="ainav"> 
        
                    <div class=" aihrefdiv">

            
                        <a href="/author_index"></a>
                        <ul class="wholeListIndex">
                        <li>  <a class="listIndex" href="/author_index">Home</a> </li> 
                        <li> <a class="listIndex" href="/author_index/author_upload">Add new book</a></li>
                            <li> <a class="listIndex" href="/author_index/author_update_personal_details"> Update Personal Details</a></li>
                            <li><a class="listIndex" href="/author_logout">Logout</a></li>
                        </ul>
                    </div>      
                </nav>

                <div class="aibooklist">

                {{#each listofbooks}}
               <ul>
                    <li class="addedBooks"> <a href="/author_index/author_individual/{{this.filename}}">{{this.bookname}} </a>  </li>
               </ul>
                {{/each}}
                {{#if nobooks}}
                <p>Please add any books.</p>
                {{/if}}
                 {{#if hasErrors}}
               <p class="errors"> {{errors}}.</p>
         {{/if}}
                </div>
            </div>
        </div>
    </header>
</main>