{{!-- <main>

<a href="/">Go Back To Main Menu</a>
  <h1 class="heading">Customer Login Here</h1>
  <form action="/customer_login" method="POST" class="login-form" id="login-form">
    <label for="username">
      Username
      <input type="text" name="username" id="username" placeholder="Enter The Username" class="full-width-input" />
    </label>
    <label for="password">
      Password
      <input type="password" name="password" id="password" placeholder="Enter The Passsword" class="full-width-input" />
    </label>
    <br><br><br><button class="btn" type="submit">Submit</button>
    <br><br><br><button class="btn" type="reset">Clear</button>
  </form>
<footer>
  <nav>
        <ul>
            <li><a href="/customer_signup">Need to register? Click here to sign-up</a></li>
        </ul>
</nav>
<div class="error" id="error" hidden></div>
</footer>

<script src="/public/js/customer_login.js"></script>
{{#if hasErrors}}
<p class="error">{{errors}}</p>
{{/if}}
</main> --}}


<main>
  <div class="loginContainer">
    <div class="columnAuthorLogin">
      <a id="Main_menu" href="/">Go Back To Main Menu</a>
      <h1>Customer Login Here</h1>
      <form action="/customer_login" method="POST" id="login-form">
        <label for="username">
          Username
        <input type="text" name="username" id="username" placeholder="Enter The Username"  />
        </label>
        <label for="password">
          Password
        <input type="password" name="password" id="password" placeholder="Enter The Passsword" />
        </label>
          <br><button class="btn" type="submit">Submit</button>
          <br><button class="btn" type="reset">Clear</button>
        <footer>
          <nav>
            <ul>
                <a href="/customer_signup">Need to register? Click here to sign-up</a>
            </ul>
          </nav>
          <div class="error" id="error" hidden></div>
          {{#if hasErrors}}
<p class="error">{{errors}}</p>
{{/if}}
        </footer>
      </form>
    </div>
  </div>
  <script src="/public/js/customer_login.js"></script>

</main>