<h1>Individual</h1>

<header>
    <nav>   
        <a href="/author_index"></a>
        <ul>
           <li>  <a href="/customer_index/customer_library">My books</a> </li> 
            <li> <a href="/customer_index/customer_update_personal_details"> Update Personal Details</a></li>
            <li>  <a href="/customer_index/customer_search">Search for book,author or category</a></li>
        </ul>
   
    </nav>

</header>
{{#if notbought}}
<p><a href="/customer_index/individual_book_page/read_sample/{{this.filename}}">Read Sample Here</a></p>
<p><a href="/customer_index/individual_book_page/buy/{{this.filename}}">Buy This Now</a></p>
{{/if}}


{{#if bought}}
<p><a href="/customer_index/individual_book_page/read_full/{{this.filename}}">Read Full Book Here</a></p>
{{/if}}
