<h1>Individual</h1>


{{#if notbought}}
<p><a href="/customer_index/individual_book_page/read_sample/{{this.filename}}">Read Sample Here</a></p>
<p><a href="">But This Now</a></p>
{{/if}}


{{#if bought}}
<p><a href="/customer_index/individual_book_page/read_full/{{this.filename}}">Read Full Book Here</a></p>
{{/if}}