<div class="landingContainer">
<div class="h1Forlanding">
<h1>Welcome to online book store</h1>
</div>

<div class="introduction_div">
    <p class="introductionP">
 
    The plight an author goes through when he intends to go through a traditional publishing company is tremendous and unimaginable. An author often loses the power to decide titles, covers,
    and marketing angles and must compromise and go with the suggestions made by the publishing company. So, we aim to create a website which is based on the concept of online bookstore. Once the
    author signs up, it will redirect to the Author's  Index page where they can add a book along with the name of the book, price,description, number of pages, Author's details and category. In the
    customer page, the books which have been added by the authors will be available for all the customers to purchase. Even though the customer pays for the book he/she will be restricted from downloading
    it. Also, customers will have a facility to add reviews and ratings.
 
    </p>

</div>
<div class ="all_urls">
<ul>
    <li>  <a href="/author_login">Click here to login as an Author</a></li>
    <li><a href="/author_signup">Click here to sign up as an Author</a></li> 
    <li> <a href="/customer_login">Click here to login as Customer</a></li> 
    <li><a href="/customer_signup">Click here to sign up as Customer</a></li> 
    
</ul>
</div>

</div>
